<!DOCTYPE html>
<html>
<title>DataCrypt</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.form-control{
  height: 50px;
}

.btn{
  font-size: 20px;
}

/* Create a Parallax Effect */
.dc_addFile {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.dc_addFile {
    background-image: url('/assets/dc_addFile.jpg');
    min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .dc_addFile {
        background-attachment: scroll;
    }
}
</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-card w3-animate-top w3-white" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="/" class="w3-bar-item w3-button">HOME</a>
    <a href="/addFile" class="w3-bar-item w3-button w3-hide-small">ADD FILE</a>
    <a href="/verifyFile" class="w3-bar-item w3-button w3-hide-small">VERIFY FILE</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="dc_addFile w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <div class="container">
      <h1 style="color:black">Add file</h1>
      <form action="/addFile" method="POST">
        <div class="form-group">
          <label for="owner" style="color:black">Owner Name:</label>
          <input type="text" class="form-control" id="owner" placeholder="Enter owner name" name="owner" required>
        </div>
        <div class="form-group">
          <label for="hash" style="color:black">File Hash:</label>
          <input type="text" class="form-control" id="hash" placeholder="Enter file hash" name="hash" required>
        </div>
        <button type="submit" class="btn btn-default" style="color:black">Submit</button>
      </form>
      <br>
      {{#if message}}
        {{#if_equal message.transactionHash ""}}
          <div class="alert alert-danger">
          <strong>Error!</strong> {{message.note}}
          </div>
        {{else}}
          <div class="alert alert-info">
          <strong>Info!</strong> 
          <br> Your file has been submitted for anchoring.
          <br> Transaction Hash: {{message.transactionHash}}
          </div>  
        {{/if_equal}}  
      {{/if}}
    </div>
  </div>
</div>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</body>
</html>



<br>
<br>
<br>
  <div class="container">
    <h2>Add file</h2>
    <form action="/addFile" method="POST">
      <div class="form-group">
        <label for="owner">Owner Name:</label>
        <input type="text" class="form-control" id="owner" placeholder="Enter owner name" name="owner" required>
      </div>
      <div class="form-group">
        <label for="hash">File Hash:</label>
        <input type="text" class="form-control" id="hash" placeholder="Enter file hash" name="hash" required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <br>
    {{#if message}}
      {{#if_equal message.transactionHash ""}}
        <div class="alert alert-danger">
        <strong>Error!</strong> {{message.note}}
        </div>
      {{else}}
        <div class="alert alert-info">
        <strong>Info!</strong> 
        <br> Your file has been for submitted for anchoring.
        <br> Transaction Hash: {{message.transactionHash}}
        </div>  
      {{/if_equal}}  
    {{/if}}
  </div>
